@media (prefers-color-scheme: dark) {
    :root {
        --custom-tag-bg: #1e2119;
        --custom-tag-color: #2b02f7;
        --custom-tag-border: #322d20;
        --custom-tag-focus-border: #6849a5;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --custom-tag-bg: #1e2119;
        --custom-tag-color: #2b02f7;
        --custom-tag-border: #ebe5d8;
        --custom-tag-focus-border: #6849a5;
    }
}